:root {
  --primary-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --background-color: #1c1b24;
  --container-bg: rgba(0, 0, 0, 0.4);
  --container-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  --overlay-bg: rgba(28, 27, 36, 0.95);
  --text-color: #ffffff;
  --heading-size: 2.5rem;
  --paragraph-size: 1.2rem;
  --border-radius: 12px;
  --captcha-box-bg: #2c2c34;
  --captcha-box-padding: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--background-color);
  color: var(--text-color);
  text-align: center;
  position: relative;
  margin: 0;
}

.container {
  max-width: 500px;
  width: 90%;
  padding: 2rem;
  background: var(--container-bg);
  border-radius: var(--border-radius);
  box-shadow: var(--container-shadow);
  z-index: 1;
}

h1 {
  font-size: var(--heading-size);
  margin-bottom: 1.5rem;
  font-weight: 600;
}

p {
  font-size: var(--paragraph-size);
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.8);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

#overlay.removing {
  opacity: 0;
}

#captcha-box {
  background: var(--captcha-box-bg);
  padding: var(--captcha-box-padding);
  border-radius: var(--border-radius);
  box-shadow: var(--container-shadow);
}

.challenge-box {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
}

.challenge-box.success,
.challenge-box.failure {
  display: none;
}

.status-icon {
  width: 24px;
  height: 24px;
  position: relative;
}

.dots {
  display: flex;
  gap: 4px;
}

.dot {
  width: 6px;
  height: 6px;
  background: #6d4aff;
  border-radius: 50%;
  animation: pulse 1s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}

.success-icon {
  display: none;
  width: 24px;
  height: 24px;
  background: #28a745;
  border-radius: 50%;
  position: relative;
}

.success-icon:after {
  content: "";
  width: 12px;
  height: 6px;
  border: 2px solid white;
  border-top: none;
  border-right: none;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.failure-icon {
  width: 24px;
  height: 24px;
  background: #dc3545;
  border-radius: 50%;
  position: relative;
}

.failure-icon:before,
.failure-icon:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  background: white;
  border-radius: 1px;
  top: 50%;
  left: 50%;
}

.failure-icon:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.failure-icon:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.text {
  font-size: 16px;
  color: #ffffff;
}

@media (max-width: 480px) {
  :root {
    --heading-size: 2rem;
    --paragraph-size: 1.1rem;
  }

  .container {
    padding: 1.5rem;
  }
}
